<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Title-->
    <title>Visualisations EM 1</title>
    <!--css links-->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" rel="stylesheet"
        integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <link href="styles/style.css" rel="stylesheet">
    <link href="styles/skeleton.css" rel="stylesheet">
    <link href="styles/index_Style.css" rel="stylesheet">
    <link href="styles/loadout_Style.css" rel="stylesheet">
    <!--Required JS resources-->
    <script src="https://unpkg.com/vue@2.3.3/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="scripts/debounce_and_throttle.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.js"></script>
    <script src="scripts/numeric/src/numeric.js"></script>
    <script src="scripts/math.min.js"></script>
    <script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    extensions: ["tex2jax.js"],
    jax: ["input/TeX", "output/HTML-CSS"],
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
      processEscapes: true
    },
    "HTML-CSS": { fonts: ["TeX"] }
  });
    </script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML"></script>
</head>

<body>
<div id="app">
    <!--   Title of non-current sections to appear on hovering above respective number in navbar     -->
    <div id="hoverTitleSpace" :style="{left: mouseX +'px'}" v-show="hoverTitle !== false">
        {{hoverTitle}}
    </div>
    <!--    Left Side of Window - containing mainly text    -->
    <div class="vis-container left" id="left-container">
        <!--     Dynamic Navigation Bar and Section Headings       -->
        <div class="" id="progress-container">
            <!--    Dynamic Section Heading Text - overlaid on meters    -->
            <!--    Also act as buttons to navigate between sections    -->
            <div class="" id="overlay" @mousemove="hoverTitle !== false ? updateMouseX($event) : ''">
                <button :class="[currentTitle === 1 ? 'activeButton' : '', 'overlay-button']" id="sectionTitle1"
                        key="sectionTitle1" data-no=1 @click="scrollTo($event)" @mouseover="hoverPosUpdate($event); selectHover();" @mouseout="hoverTitle=false">{{sectionTitle[0]}}
                </button>
                <button :class="[currentTitle === 2 ? 'activeButton' : '', 'overlay-button']" id="sectionTitle2"
                        key="sectionTitle2" data-no=2 @click="scrollTo($event)" @mouseover="hoverPosUpdate($event); selectHover();" @mouseout="hoverTitle=false">{{sectionTitle[1]}}
                </button>
                <button :class="[currentTitle === 3 ? 'activeButton' : '', 'overlay-button']" id="sectionTitle3"
                        key="sectionTitle3" data-no=3 @click="scrollTo($event)" @mouseover="hoverPosUpdate($event); selectHover();" @mouseout="hoverTitle=false">{{sectionTitle[2]}}
                </button>
                <button :class="[currentTitle === 4 ? 'activeButton' : '', 'overlay-button']" id="sectionTitle4"
                        key="sectionTitle4" data-no=4 @click="scrollTo($event)" @mouseover="hoverPosUpdate($event); selectHover();" @mouseout="hoverTitle=false">{{sectionTitle[3]}}
                </button>
                <button :class="[currentTitle === 5 ? 'activeButton' : '', 'overlay-button']" id="sectionTitle5"
                        key="sectionTitle5" data-no=5 @click="scrollTo($event)" @mouseover="hoverPosUpdate($event); selectHover();" @mouseout="hoverTitle=false">{{sectionTitle[4]}}
                </button>
                <button :class="[currentTitle === 6 ? 'activeButton' : '', 'overlay-button']" id="sectionTitle6"
                        key="sectionTitle6" data-no=6 @click="scrollTo($event)" @mouseover="hoverPosUpdate($event); selectHover();" @mouseout="hoverTitle=false">{{sectionTitle[5]}}
                </button>
                <button :class="[currentTitle === 7 ? 'activeButton' : '', 'overlay-button']" id="sectionTitle7"
                        key="sectionTitle7" data-no=7 @click="scrollTo($event)" @mouseover="hoverPosUpdate($event); selectHover();" @mouseout="hoverTitle=false">{{sectionTitle[6]}}
                </button>
            </div>
            <!--    Dynamic meters indicating progress through each section    -->
            <meter :class="[currentTitle === 1 ? 'activeMeter' : '']" id="m1" :min="sectionTops[0]"
                   :max="sectionBottoms[0]" :value="scrollPos"></meter>
            <meter :class="[currentTitle === 2 ? 'activeMeter' : '']" id="m2" :min="sectionTops[1]"
                   :max="sectionBottoms[1]" :value="scrollPos"></meter>
            <meter :class="[currentTitle === 3 ? 'activeMeter' : '']" id="m3" :min="sectionTops[2]"
                   :max="sectionBottoms[2]" :value="scrollPos"></meter>
            <meter :class="[currentTitle === 4 ? 'activeMeter' : '']" id="m4" :min="sectionTops[3]"
                   :max="sectionBottoms[3]" :value="scrollPos"></meter>
            <meter :class="[currentTitle === 5 ? 'activeMeter' : '']" id="m5" :min="sectionTops[4]"
                   :max="sectionBottoms[4]" :value="scrollPos"></meter>
            <meter :class="[currentTitle === 6 ? 'activeMeter' : '']" id="m6" :min="sectionTops[5]"
                   :max="sectionBottoms[5]" :value="scrollPos"></meter>
            <meter :class="[currentTitle === 7 ? 'activeMeter' : '']" id="m7" :min="sectionTops[6]"
                   :max="sectionBottoms[6]" :value="scrollPos"></meter>
            <div id="banner-dummy"></div>
        </div>
        <!--    Container for text content split into sections    -->
        <div class="journey" id="main-journey" @scroll.passive="scrollFunc">
            <!--    Section Text Containers   -->
            <div class="section-container" id="sc1">
                <div class="placeholder" id="ph1">
                    <hr>
                    <h2 class="text section-head" id="s1">
                        {{sectionTitleLong[0]}}
                    </h2>
                    <hr>
                </div>
                <div class="text section-body odd" id="p1">
                    The majority of classic electromagnetism is governed by the four Maxwell's equations.
                    These are empirical equations based on evidence, and were not derived from other equations or principles.
                    In their differential form, Maxwell's equations describe the rates of change of an electromagnetic field.
                    $$ \nabla \cdot \mathbf{E} = \frac{\rho}{\epsilon_{0}}$$
                    $$ \nabla \cdot \mathbf{B} =  0$$
                    $$ \nabla \times \mathbf{E} = -\frac{d\mathbf{B}}{dt}$$
                    $$ \nabla \times \mathbf{B} = \mu_{0} \mathbf{J} + \mu_{0} \epsilon_{0}\frac{d\mathbf{E}}{dt}$$
                    Where $\mathbf{E}$ is an electric field, $\mathbf{B}$ is a magnetic field. When all time varying terms go to 0, we are left with the static version of Maxwell's equations.
                    $$ \nabla \cdot \mathbf{E} = \frac{\rho}{\epsilon_{0}}$$
                    $$ \nabla \cdot \mathbf{B} =  0$$
                    $$ \nabla \times \mathbf{E} = 0$$
                    $$ \nabla \times \mathbf{B} = \mu_{0} \mathbf{J}$$

                    Of these, Gauss's law for electrostatics, Gauss's law for magnetism, and Ampere's circulation law are the most crucial.
                    Together they describe how sources of charge and current form electric and magnetic fields.
                    
                </div>
            </div>

            <div class="section-container" id="sc2">
                <div class="placeholder" id="ph2">
                    <hr>
                    <h2 class="text section-head" id="s2">
                        {{sectionTitleLong[1]}}
                    </h2>
                    <hr>
                </div>
                <div class="text section-body odd" id="p2">
                    <!--    Sub-Section Tabs    -->
                    <ul class="nav nav-tabs nav-justified">
                        <li :class="[subSection[1] === 1 ? 'shaded' : '', 'active', 'tabLeft']">
                            <a data-toggle="tab" href="#gaussElecDifferential" @click="subScrollTo(2); subSection[1]=1; loadSubScripts(); $forceUpdate();">Differential</a>
                        </li>
                        <li :class="[subSection[1] === 2 ? 'shaded' : '', 'tabRight']">
                            <a data-toggle="tab" href="#gaussElecIntegral" @click="subScrollTo(2); subSection[1]=2; loadSubScripts(); $forceUpdate();">Integral</a>
                        </li>
                    </ul>
                    <!--    Sub-Section Text Containers    -->
                    <div class="tab-content">
                        <div id="gaussElecDifferential" class="tab-pane fade in active show">
                            Maxwell's first law states that:
                            $$ \nabla \cdot \mathbf{E} = \frac{\rho}{\epsilon_0}$$
                            Where $\nabla$ is the divergence operator. This law implies that electric charges exhibit divergence
                            that is proportional to E-field density. But what does this actually mean?
                            <br>
                            A field is divergent if the field is varies along the path of the field lines. So, if one was to take an 'infinitesimal step' along a
                            field line, then the field strength would change. In terms of electrostatics this means that electric charges are the
                            sources of electric fields.

                            <h3 class="section-sub-head">
                                    Visualisation Guide
                                </h3>

                            The visualisation on the right considers an infinitesimally small section of a charge density that causes
                            field lines to diverge. You may investigate how the strength of the vector field varies with relative divergence.
                            <br><br>
                            <b>Important note:</b> We are using vector field representation here, not field lines.
                        </div>
                        <div id="gaussElecIntegral" class="tab-pane fade">
                            Gauss’s law for electrostatics (integral form) can be expressed as :
                             <br><br>
                            <center>$\unicode{x222F}_S \mathbf {E} \cdot \mathrm {d} \mathbf {S} ={\frac {1}{\varepsilon _{0}}}\iiint _V \rho \,\mathrm {d} V$</center>
                             <br>
                            where $V$ is the volume enclosed by the closed surface $S$.
                            <br><br>
                            Geometrically, $\mathbf {E} \cdot \mathrm {d} \mathbf {S}$ represents the net <a href=“Visualisations/Vector-Calculus-Concepts/Div&Flux.html”>flux</a> of $\mathbf {E}$ through $\mathrm {d} \mathbf {S}$. This law relates the net flux through a closed surface to the net charge contained within.

                            <h3 class="section-sub-head">
                                    Visualisation Guide
                                </h3>

                            In this visualisation, we have a 2D representation of the law.
                            The loop, which represents a 2D slice of a surface, is generated randomly.
                            The number in the loop is the scaled net flux through the loop.
                            <br><br>
                            In the ‘manual loop’ option, we have specified that the normal is pointing outwards when the loop is drawn in anticlockwise direction.
                            <br><br>
                            <b>Important note:</b> We are using field lines representation here, not vector field.
                        </div>
                    </div>
                </div>
            </div>

            <div class="section-container" id="sc3">
                <div class="placeholder" id="ph3">
                    <hr>
                    <h2 class="text section-head" id="s3">
                        {{sectionTitleLong[2]}}
                    </h2>
                    <hr>
                </div>
                <div class="text section-body odd" id="p3">
                    <!--    Sub-Section Tabs    -->
                    <ul class="nav nav-tabs nav-justified">
                        <li :class="[subSection[2] === 1 ? 'shaded' : '', 'active', 'tabLeft']">
                            <a data-toggle="tab" href="#gaussMagDifferential" @click="subScrollTo(3); subSection[2]=1; loadSubScripts(); $forceUpdate();">Differential</a>
                        </li>
                        <li :class="[subSection[2] === 2 ? 'shaded' : '', 'tabRight']">
                            <a data-toggle="tab" href="#gaussMagIntegral" @click="subScrollTo(3); subSection[2]=2; loadSubScripts(); $forceUpdate();">Integral</a>
                        </li>
                    </ul>
                    <!--    Sub-Section Text Containers    -->
                    <div class="tab-content">
                        <div id="gaussMagDifferential" class="tab-pane fade in active show">
                            Gauss's law for magnetism (differential form) can be expressed as :
                            $$ \nabla \cdot \mathbf{B} = 0$$
                            Where $\nabla$ is the divergence operator.
                            This means that there is no beginning or ending to magnetic field lines as they are loops.

                            <h3 class="section-sub-head">
                                    Visualisation Guide
                                </h3>

                            In all options, you do not see any changes in the number density of the field lines.
                            In fact, the last option protrays the typical situation of magnetic field, where there is non-zero curl but zero divergence.
                            <br><br>
                            <b>Important note:</b> We are using vector field representation here, not field lines.
                        </div>
                        <div id="gaussMagIntegral" class="tab-pane fade">
                            Gauss's law for magnetism (integral form) can be expressed as :
                            <br><br>
                            <center>$\unicode{x222F}_S \mathbf {B} \cdot \mathrm {d} \mathbf {S} = 0$</center>
                            <br>
                            where $S$ is any closed surface.
                            <br><br>
                            Geometrically, $\mathbf {B} \cdot \mathrm {d} \mathbf {S}$ represents the net flux of $\mathbf {B}$ through $\mathrm {d} \mathbf {S}$. This law states that the net flux of any magnetic field through an arbitrary closed surface is always zero.

                            <h3 class="section-sub-head">
                                    Visualisation Guide
                                </h3>

                            In this visualisation, we have a 2D representation of the law. The number in the loop is the scaled net flux through the loop.
                            <br><br>
                            In the ‘manual loop’ option, we have specified that the normal is pointing outwards when the loop is drawn in anticlockwise direction.
                            <br><br>
                            <b>Important note:</b> We are using field lines representation here, not vector field.
                        </div>
                    </div>
                </div>
            </div>

            <div class="section-container" id="sc4">
                <div class="placeholder" id="ph4">
                    <hr>
                    <h2 class="text section-head" id="s4">
                        {{sectionTitleLong[3]}}
                    </h2>
                    <hr>
                </div>
                <div class="text section-body odd" id="p4">
                    <!--    Sub-Section Tabs    -->
                    <ul class="nav nav-tabs nav-justified">
                        <li :class="[subSection[3] === 1 ? 'shaded' : '', 'active', 'tabLeft']">
                            <a data-toggle="tab" href="#ampereMagDifferential" @click="subScrollTo(4); subSection[3]=1; loadSubScripts(); $forceUpdate();">Differential</a>
                        </li>
                        <li :class="[subSection[3] === 2 ? 'shaded' : '', 'tabRight']">
                            <a data-toggle="tab" href="#ampereMagIntegral" @click="subScrollTo(4); subSection[3]=2; loadSubScripts(); $forceUpdate();">Integral</a>
                        </li>
                    </ul>
                    <!--    Sub-Section Text Containers    -->
                    <div class="tab-content">
                        <div id="ampereMagDifferential" class="tab-pane fade in active show">
                            The differential form of Ampere's law is:
                            $$ \nabla \times \mathbf{B} = \mu_0 \mathbf{J}$$

                            <h3 class="section-sub-head">
                                    Visualisation Guide
                                </h3>

                            Consider a section of a plane that contains a uniform magnetic field. The introduction of a current $\mathbf{J}$
                            that passes through every point in this section of the plane changes the field around it such that
                            the maginitude of the magnetic field only changes if you move in a direction that is perpendicular to the field.
                            This is the definition of curl. The introduction of the current density has induced a curl in the magnetic
                            field. The circle on top right of the plot indicates the strength and direction of the current density according to the Right Hand Grip Rule.
                            <br><br>
                            <b>Important note:</b> We are using field lines representation here, not vector field.

                        </div>
                        <div id="ampereMagIntegral" class="tab-pane fade">
                            <div style='display: flex; flex-direction: row'>
                            <div style='flex-grow: 1'><button @click='onClick()' id="buttonExamples">Examples</button></div>
                            <div class='scroll-down' style='flex-grow: 1;'>
                                <select id="circuitSelectList2" style='display: none' @change='onChange()'>
                                    <option value="1">
                                        Single Wire
                                    </option>
                                    <option value="2">
                                        Solenoid
                                    </option>
                                    <option value="3">
                                        Toroid
                                    </option>
                                </select>
                            </div>
                        </div>
                            <br>
                            <div id='ampereMagIntegral_1'>
                                The integral form of Ampere's law is:
                                $$ \oint \mathbf{B.dl} = \mu_0 I$$
                                Ampere's law states that when a loop is placed around a current carrying wire, the integral of the magnetic field
                                around the loop is equal to $\mu_{0}$ multiplied by the current enclosed. If you add a loop in the visualisation
                                on the right then you can see, by clicking and dragging wires into and out of the loop, that this is true.
                                <br><br>
                                When there are wires near to, but outside of a loop, there is flux into and out of the loop, however the average
                                flux is zero, so the total integral is also zero. You can see how the magnetic flux varies around the loop
                                in the plot shown.
                                <br><br>
                                The reason for this can be seen by placing a wire just outside a circular loop; in this
                                scenario dl is in the same direction as the field for one part of the loop, and opposite to the field for the
                                other part. This means the resulting net contribution is zero.

                                <h3 class="section-sub-head">
                                        Visualisation Guide
                                    </h3>


                                We are using a Riemann sum to integrate, so the number of steps is referring to the number of steps used in the numerical integration.
                                <br><br>
                                <b>Important note:</b> We are using vector field representation here, not field line.
                            </div>
                            <div id="CurrentLine" style='display: none'>
                                    <h5> Current Wire: </h5>
                                    Consider an infinitely long current-carrying wire. Recall the integral form of static Ampere's law:
                                    $$\oint \textbf{B} \cdot \textbf{dl} = \mu_0 I_{enclosed},$$
                                    and construct a circular Amperian loop (Amp loop). The loop encloses the wire. The magnetic field
                                    generated by the wire is circular with a constant magnitude at a given distance $r$. Hence,
                                    $$ \displaystyle \textbf{B} \cdot \textbf{dl} = |\textbf{B}||\textbf{dl}|\cos(\theta)= B dl $$
                                    as the magnetic field aligns with the loop. The integral can be performed and equation for the
                                    magnetic field strength $B$ can be derived.
                                    $$ \int B dl = 2\pi r B= \mu_0 I_{enclosed}. $$
                                    Hence,
                                    $$ B = \frac{\mu_0 I_{enclosed}}{2 \pi r}. $$
                                    <img src="EM\image\RHrule.jpg" style="width:50%;height:20%;margin-right:5%;margin-bottom:5%; float:left">
                                    The direction in which the magnetic field rotates can be confirmed by using the Ampère's right-hand
                                    grip rule. Note that the magnetic field strength falls off with distance from the wire. You can confirm
                                    this using the visualisation on the Right.
                                    
                        
                        
                                </div>
                                <div id="solenoid" style='display: none'>
                                    <h5> Solenoid: </h5>
                                    A solenoid can be approximated as a series of circular loops of current with fixed separation. In this model, the solenoid is aligned
                                    such that we can consider the current flowing into and out of the screen. Now consider a rectangular Amperian loop (Amp loop). The Amp loop
                                    can be split into four straight lines. This allows the closed integral of static Ampere's law into four integral representing the four straight lines.
                                    <img src="EM\image\Solenoid.jpg" style="width:50%;height:20%;margin-right:5%;margin-bottom:5%; float: left">
                                    The diagram shows this Amp loop. The length and the alignment of the sides are chosen to simplify the
                                    integral: Side $2$ and $4$ align perpendicularly to the direction of the
                                    magnetic field, hence $\textbf{B} \cdot \textbf{dl} =0 $. Side $3$ is positioned at $r=\infty$, hence $|\textbf{B}|=0$.
                                    $$\begin{align}
                                    \oint \textbf{B} \cdot \textbf{dl} = \int_{a}^{b} \textbf{B} \cdot \textbf{dl} +
                                    \int_{b}^{c} \underbrace{\textbf{B} \cdot \textbf{dl}}_\text{=0} \\
                                     + \int_{c}^{d} \underbrace{\textbf{B}}_\text{=0} \cdot \textbf{dl} + \int_{d}^{a} \underbrace{\textbf{B} \cdot
                                    \textbf{dl}}_\text{=0}
                                    \end{align}$$
                                    Hence,
                                    $\displaystyle \int_{a}^{b} \textbf{B} \cdot \textbf{dl} = BL=\mu_0 I_{enclosed}=\mu_0 N I,$
                                    where $L=b-a$, $N$ is the number of current loops enclosed in the loop, and $I$ is the current
                                    through each current loop. Rearranging gives the equation for the magnetic field strength within
                                    the solenoid.
                                    $$ B = \frac{\mu_0 N I}{L}=\mu_0 n I, $$
                                    where $n$ is the number density of the current loops, meaning the number of current loops in a unit
                                    length of the solenoid. Note that the magnetic field strength is constant within
                                    the solenoid. You can confirm this by using the visualisation on the right. Keep in mind that the
                                    side outside the solenoid does not go off to infinity, however you can see how quickly the
                                    magnetic field falls off with distance. The arrow moving around the Amp loop in the visualisation
                                    represent the resultant magnetic field's magnitude and direction, $\textbf{B}$, NOT $\textbf{B}
                                    \cdot \textbf{dl}$.
                                </div>
                                <div id="Toroid" style='display: none'>
                                    <h5> Toroid : </h5>
                                    A toroid is simply a solenoid formed into a loop ( a loop of loops!). To calculate the magnetic field
                                    strength generated, a circular Amperian loop (Amp loop) is used to evaluated
                                    the three regions of the toroid.
                                    At the centre and outside of the toroid, the net current enclosed is zero, therefore based on static Ampere's law,
                                    $|\textbf{B}|$ the magnetic field strength is zero. Within the toroid,
                                    $$\displaystyle \oint \textbf{B} \cdot \textbf{dl} = \oint Bdl = 2\pi rB = \mu_0 I_{enclosed},$$
                                    as the magnetic field within the toroid aligns with the Amp loop. Hence,
                                    $$\displaystyle B = \frac{\mu_0 I_{enclosed}}{2\pi r} = \frac{\mu_0 N I}{2\pi r} = \frac{\mu_0 (nL)
                                    I}{2\pi r},$$
                                    where $n(=N/L)$ is the number density of the current loops, $L$ is the circumference of the toroid,
                                    and $N$ is the number of current loops enclosed in the Amp loop. In the
                                    approximation that the radius of each current loop in the toroid is negligible compared to the
                                    radius of the Amp loop, we can assume $\displaystyle L \approx 2 \pi r.$
                                    Hence, $\displaystyle B = \mu_0 n I$
                                    which is the same equation that was derived for the solenoid. You can confirm this by using the
                                    visualisation on the right. Keep in mind that the visualisation calculates the net
                                    magnetic field generated at the point the arrow is. Hence there is a small variation from the theory
                                    when that approximation is not applied ( ie. the radius of the current loops is comparable to
                                    the radius of the Amp loop. Also note the change in the direction of the magnetic field when the Amp
                                    loop is slightly out of region B. You can confirm the direction using the Ampère's right-hand grip
                                    rule.
                                </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section-container" id="sc5">
                <div class="placeholder" id="ph5">
                    <hr>
                    <h2 class="text section-head" id="s5">
                        {{sectionTitleLong[4]}}
                    </h2>
                    <hr>
                </div>
                <div class="text section-body odd" id="p5">
                    <!--    Sub-Section Tabs    -->
                    <ul class="nav nav-tabs nav-justified">
                        <li :class="[subSection[4] === 1 ? 'shaded' : '', 'active', 'tabLeft']">
                            <a data-toggle="tab" href="#ampereElecDifferential" @click="subScrollTo(5); subSection[4]=1; loadSubScripts(); $forceUpdate();">Differential</a>
                        </li>
                        <li :class="[subSection[4] === 2 ? 'shaded' : '', 'tabRight']">
                            <a data-toggle="tab" href="#ampereElecIntegral" @click="subScrollTo(5); subSection[4]=2; loadSubScripts(); $forceUpdate();">Integral</a>
                        </li>
                    </ul>
                    <!--    Sub-Section Text Containers    -->
                    <div class="tab-content">
                            <div id="ampereElecDifferential" class="tab-pane fade in active show">
                                The Circulation Law in differential form can be expressed as:
                                $$\nabla \times \mathbf{E} = 0$$
                                The curl of $\mathbf{E}$ is 0 because it is a conservative field. A conservative field can be described by a potential such that
                                $\mathbf{E} = \nabla \phi$. The curl of the gradient of a scalar field ($\nabla \times \nabla \phi$) is 0. Hence, the curl of $\mathbf{E}$ is 0.

                                <h3 class="section-sub-head">
                                        Visualisation Guide
                                    </h3>

                                To visualise this, we shall have a visualisation that has a hypothetical non-zero curl of $\mathbf{E}$.
                                You can compare and constrast a non-zero curl field to a curl-free field.
                                The circle on top right of the plot indicates the strength and direction of the current density according to the Right Hand Grip Rule.  
                                <br><br>
                                <b>Important note:</b> We are using field lines representation here, not vector field.
                            </div>
                            <div id="ampereElecIntegral" class="tab-pane fade">
                                    The Circulation Law in integral form can be expressed as:
                                $$\oint \mathbf {E} \cdot \mathrm {d} {\boldsymbol {l}} = 0$$
                                As you can see from the visualisation on the right the net flux through a loop in an electric field is always zero,
                                regardless of the positions of charges or even if there is some background field: as long as the background
                                field has no curl!
                                <br><br>
                                Another way of thinking about this equation is by using Stokes' Law which states:<br><br>
                                <center>$\displaystyle \oint_{l} \mathbf{A.dl} =$ $\displaystyle \iint_{S} \nabla \times \mathbf {A} \cdot d\mathbf{S}$</center>
                                <br>
                                From this it is clear that the first equation, and the fact that electric fields have no curl are identical.
                                This also implies that electric fields are conservative, since the loop integral is always zero, and the field
                                has no curl.

                                <h3 class="section-sub-head">
                                        Visualisation Guide
                                    </h3>

                                We are using a Riemann sum to integrate, so the number of steps is referring to the number of steps used in the numerical integration.
                                <br><br>
                                <b>Important note:</b> We are using vector field representation here, not field line.
                            </div>
                        </div>
                </div>
            </div>
            
            <div class="section-container" id="sc6">
                <div class="placeholder" id="ph6">
                    <hr>
                    <h2 class="text section-head" id="s6">
                        {{sectionTitleLong[5]}}
                    </h2>
                    <hr>
                </div>
                <div class="text section-body odd" id="p6">
                    <!--    Sub-Section Tabs    -->
                    <ul class="nav nav-tabs nav-justified">
                        <li :class="[subSection[5] === 1 ? 'shaded' : '', 'active', 'tabLeft']">
                            <a data-toggle="tab" href="#elecPotential" @click="subScrollTo(6); subSection[5]=1; loadSubScripts(); $forceUpdate();">Potential</a>
                        </li>
                        <li :class="[subSection[5] === 2 ? 'shaded' : '', 'tabRight']">
                            <a data-toggle="tab" href="#elecField" @click="subScrollTo(6); subSection[5]=2; loadSubScripts(); $forceUpdate();">Field</a>
                        </li>
                    </ul>
                    <!--    Sub-Section Text Containers    -->
                    <div class="tab-content">
                            <div id="elecPotential" class="tab-pane fade in active show">
                                The differential relationship between electric potential and electric field is:
                                $$\nabla V = - \mathbf{E} $$

                                <h3 class="section-sub-head">
                                        Visualisation Guide
                                    </h3>

                                Consider a particle with charge $Q$ positioned at the origin.  The graph on the right 
                                shows the potential field $V(x,y)$ around the particle (when only considering a 2D 
                                slice of space passing through the centre of the charge).  
                                <br><br>
                                Beneath it the electric field is shown, which is the negative of the gradient of the 
                                electric potential.
                                <br><br>
                                <b>Important note:</b> We are using vector field representation here, not field line.
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                            </div>
                            <div id="elecField" class="tab-pane fade">
                                    The integral relationship between electric potential and electric field is:
                                $$ V_B - V_A = - \int _A ^B \mathbf{E} \cdot \mathbf{ dl }$$
                                In electrostatics, all electric fields are conservative. This means that we can find out the potential difference between any two points (A and B) by performing a line integral:

                                $$\displaystyle \Delta V_{AB} = V_B - V_A = \frac{\Delta U_{AB} }{q} $$
                                $$\displaystyle = -\frac{1}{q} \int _A ^B \mathbf{F} \cdot \mathbf{ dl }$$
                                $$\displaystyle =  - \int _A ^B \mathbf{E} \cdot \mathbf{ dl } $$



                                <h3 class="section-sub-head">
                                        Visualisation Guide
                                    </h3>

                                <ol>
                                    <li>On the right, you can see a electric field and the electric potential associated with this field.
                                        Change the value of the charge, $q$, and observe the change in $\mathbf{E}$ and $V$.</li>
                                    <li>As the magnitude of $q$ increases, the length of the arrows in $\mathbf{E}$ increases and the contour of the electric potential
                                        $V$ becomes steeper as well. Since $\mathbf{E} = - \nabla V$, the gradient vector of $V$ is its electric field vector,
                                        which points in the direction of steepest decrease of $V$.</li>
                                    <li>The line integral along the electric field,
                                        $\int \mathbf{E} \cdot \mathbf{ dl }$ is path independent. Move the path of the ball from Point A to Point B
                                        along 2 different paths, Path 1 and Path 2.</li>
                                    <li>Observe their electric potential values. Note that along the path, the value of $V$ may be different.
                                        However, when the balls reach Point B, they have the same electric potential.</li>
                                    <li>This shows that static electric fields are conservative, hence $\mathbf{E}$ is only dependent on its position.</li>
                                    <li>There are a few other electric fields for you to play around with. Click the dropdown menu to find out.</li>
                                </ol>
                                <br><br>
                                <b>Important note:</b> We are using vector field representation here, not field line.


                            </div>

                    </div>
                </div>
            </div>

            <div class="section-container" id="sc7">
                <div class="placeholder" id="ph7">
                    <hr>
                    <h2 class="text section-head" id="s7">
                        {{sectionTitleLong[6]}}
                    </h2>
                    <hr>
                </div>
                <div class="text section-body odd" id="p7">
                    In this suite, we have investigated Maxwell's equations in vacuum without time-varying fields.
    Let us restate the equations in differential form.
    $$ \nabla \cdot \mathbf{E} = \frac{\rho}{\epsilon_{0}}$$
    $$ \nabla \cdot \mathbf{B} =  0$$
    $$ \nabla \times \mathbf{E} = -\frac{d\mathbf{B}}{dt}$$
    $$ \nabla \times \mathbf{B} = \mu_{0} \mathbf{J} + \mu_{0} \epsilon_{0}\frac{d\mathbf{E}}{dt}$$
    Without time-varying fields, we have
    $$ \nabla \cdot \mathbf{E} = \frac{\rho}{\epsilon_{0}}$$
    $$ \nabla \cdot \mathbf{B} =  0$$
    $$ \nabla \times \mathbf{E} = 0$$
    $$ \nabla \times \mathbf{B} = \mu_{0} \mathbf{J}$$
    In the upcoming suites, we will bring ourselves one step closer to applying Maxwell's equations in a real-world situation by asking:
    <br><br>
    <b>How happens when we have time-varying fields?</b>
    <br><br>
    <b>How do we apply Maxwell's equations to different materials or medium?</b> (add link to this)
    <br><br>
    Stay tuned!


                    </div>
                </div>



        </div>
    </div>
    <!--    Right Side of Window - containing mainly interactive and visual content    -->
    <div class="vis-container right" id="right-container">
        <!--    Title Banner above Right Side    -->
        <div class="banner">
            <!--    Visualisation Title    -->
            <h1 class="" id="vis-title">
                STATIC ELECTROMAGNETISM
            </h1>
            <a href="https://www.imperialvisualisations.com/learn/">
                <img id="vis-logo" src="VisualisationsLogoWhite2.png">
            </a>
        </div>
        <!--    Space into which visualisations are loaded    -->
        <div id="rightloadSpace">
        <!--    fade transition tag for RHS - applied by Vue and CSS    -->
        <transition-group name="fade" tag="div" class="transition-container">
            <!--    Interactive Zone Containers   -->
            <div class="rightload" id="loadwait" key="loadwait" v-if="true">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            </div>
            <div class="rightload text odd" id='loadout1' key="loadout1" v-if="currentSection === 1">
                <iframe src="EM/1Introduction_Interactive.html" style='width: 100%; height: 100%'></iframe>
            </div>
            <div class="rightload text even" id='loadout2' key="loadout2" v-if="currentSection === 2">

                    <!--Interactive Zone Sub Containers-->
                    <div class="rightload text" id='loadout2sub1' key="loadout2sub1"
                         v-if="subSection[1] === 1">

                        <iframe src="EM/2Gauss_Law_Electric_Interactive.html" style='width: 100%; height: 100%'></iframe>

                        <!--Buttons/Sliders-->
                        <!--        <div class="one-third column" style="padding-left: 50px;">-->

                        <!--Main body contents-->


                    </div>
                    <div class="rightload text" id='loadout2sub2' key="loadout2sub2" v-else>
                        <iframe src="EM/2Gauss_Law_Elec_Inte_interactive.html" style='width: 100%; height: 100%'></iframe>
                    </div>

            </div>
            <div class="rightload text odd" id='loadout3' key="loadout3" v-if="currentSection === 3">


                    <!--Interactive Zone Sub Containers-->
                    <div class="rightload text" id='loadout3sub1' key="loadout3sub1"
                         v-if="subSection[2] === 1">
                        <!-- Graph -->

                        <iframe src="EM/3Gauss_Law_Magnetic_Interactive.html" style='width: 100%; height: 100%'></iframe>
                    </div>
                    <div class="rightload text" id='loadout3sub2' key="loadout3sub2" v-else>
                        <iframe src="EM/3Gauss_Law_Mag_Inte_interactive.html" style='width: 100%; height: 100%'></iframe>
                    </div>

            </div>
            <div class="rightload text even" id='loadout4' key="loadout4" v-if="currentSection === 4">
                   
                    <!--Interactive Zone Sub Containers-->
                    <div class="rightload text" id='loadout4sub1' key="loadout4sub1"
                         v-if="subSection[3] === 1">
                        <iframe src="EM/4Amp_Mag_Diff_interactive.html" style='width: 100%; height: 100%'></iframe>
                    </div>
                    <div class="rightload text" id='loadout4sub2' key="loadout4sub2" v-else>
                        <iframe src="EM/4Amp_Mag_Integ_interactive.html" id='subSecIframe' style='width: 100%; height: 100%'></iframe>


                    </div>

            </div>

            <div class="rightload text even" id='loadout5' key="loadout5" v-if="currentSection === 5">
                <transition name="fade">
                    <!--Interactive Zone Sub Containers-->
                    <div class="rightload text" id='loadout5sub1' key="loadout5sub1"
                         v-if="subSection[4] === 1">
                        <iframe src="EM/5Amp_Elec_Diff_interactive.html" style='width: 100%; height: 100%'></iframe>
                    </div>
                    <div class="rightload text" id='loadout5sub2' key="loadout5sub2" v-else-if="subSection[4] === 2">
                        <iframe src="EM/5Amp_Elec_Integ_interactive.html" style='width: 100%; height: 100%'></iframe>
                    </div>
                    <!--<div class="rightload text" id='loadout5sub3' key="loadout5sub3" v-else>
                        <iframe src="EM/6AmpLaw_Interactive.html" width="950px" height="800px"></iframe>
                    </div>-->
                </transition>
            </div>

            <div class="rightload text even" id='loadout6' key="loadout6" v-if="currentSection === 6">
                <transition name="fade">
                    <!--Interactive Zone Sub Containers-->
                    <div class="rightload text" id='loadout6sub1' key="loadout6sub1"
                         v-if="subSection[5] === 1">
                        <iframe src="EM/7Electric_Potential_Interactive.html" style='width: 100%; height: 100%'></iframe>
                    </div>
                    <div class="rightload text" id='loadout6sub2' key="loadout6sub2" v-else>
                        <iframe src="EM/7Electric_Field_Interactive.html" style='width: 100%; height: 100%'></iframe>
                    </div>
                </transition>
            </div>

            <div class="rightload text even" id='loadout7' key="loadout7" v-if="currentSection === 7">
                <transition name="fade">
                    <!--Interactive Zone Sub Containers-->
                    <iframe src="EM/8Conclusion-gif.html" style='width: 100%; height: 100%'></iframe>
                </transition>
            </div>


        </transition-group>
    </div>
    </div>

</div>
</body>

<script src="scripts/nav_Script.js"></script>

</html>