<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Title-->
    <title>Visualisations EM 1</title>
    <!--css links-->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" rel="stylesheet"
        integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <link href="styles/style.css" rel="stylesheet">
    <link href="styles/skeleton.css" rel="stylesheet">
    <link href="styles/index_Style.css" rel="stylesheet">
    <link href="styles/loadout_Style.css" rel="stylesheet">
    <!--Required JS resources-->
    <script src="https://unpkg.com/vue@2.3.3/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="scripts/debounce_and_throttle.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.js"></script>
    <script src="scripts/numeric/src/numeric.js"></script>
    <script src="scripts/math.min.js"></script>
    <script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    extensions: ["tex2jax.js"],
    jax: ["input/TeX", "output/HTML-CSS"],
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
      processEscapes: true
    },
    "HTML-CSS": { fonts: ["TeX"] }
  });
    </script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML"></script>
</head>

<body>
<div id="app">
    <!--   Title of non-current sections to appear on hovering above respective number in navbar     -->
    <div id="hoverTitleSpace" :style="{left: mouseX +'px'}" v-show="hoverTitle !== false">
        {{hoverTitle}}
    </div>
    <!--    Left Side of Window - containing mainly text    -->
    <div class="vis-container left" id="left-container">
        <!--     Dynamic Navigation Bar and Section Headings       -->
        <div class="" id="progress-container">
            <!--    Dynamic Section Heading Text - overlaid on meters    -->
            <!--    Also act as buttons to navigate between sections    -->
            <div class="" id="overlay" @mousemove="hoverTitle !== false ? updateMouseX($event) : ''">
                <button :class="[currentTitle === 1 ? 'activeButton' : '', 'overlay-button']" id="sectionTitle1"
                        key="sectionTitle1" data-no=1 @click="scrollTo($event)" @mouseover="hoverPosUpdate($event); selectHover();" @mouseout="hoverTitle=false">{{sectionTitle[0]}}
                </button>
                <button :class="[currentTitle === 2 ? 'activeButton' : '', 'overlay-button']" id="sectionTitle2"
                        key="sectionTitle2" data-no=2 @click="scrollTo($event)" @mouseover="hoverPosUpdate($event); selectHover();" @mouseout="hoverTitle=false">{{sectionTitle[1]}}
                </button>
                <button :class="[currentTitle === 3 ? 'activeButton' : '', 'overlay-button']" id="sectionTitle3"
                        key="sectionTitle3" data-no=3 @click="scrollTo($event)" @mouseover="hoverPosUpdate($event); selectHover();" @mouseout="hoverTitle=false">{{sectionTitle[2]}}
                </button>
                <button :class="[currentTitle === 4 ? 'activeButton' : '', 'overlay-button']" id="sectionTitle4"
                        key="sectionTitle4" data-no=4 @click="scrollTo($event)" @mouseover="hoverPosUpdate($event); selectHover();" @mouseout="hoverTitle=false">{{sectionTitle[3]}}
                </button>
                <button :class="[currentTitle === 5 ? 'activeButton' : '', 'overlay-button']" id="sectionTitle5"
                        key="sectionTitle4" data-no=5 @click="scrollTo($event)" @mouseover="hoverPosUpdate($event); selectHover();" @mouseout="hoverTitle=false">{{sectionTitle[4]}}
                </button>
                <button :class="[currentTitle === 6 ? 'activeButton' : '', 'overlay-button']" id="sectionTitle6"
                        key="sectionTitle4" data-no=6 @click="scrollTo($event)" @mouseover="hoverPosUpdate($event); selectHover();" @mouseout="hoverTitle=false">{{sectionTitle[5]}}
                </button>
            </div>
            <!--    Dynamic meters indicating progress through each section    -->
            <meter :class="[currentTitle === 1 ? 'activeMeter' : '']" id="m1" :min="sectionTops[0]"
                   :max="sectionBottoms[0]" :value="scrollPos"></meter>
            <meter :class="[currentTitle === 2 ? 'activeMeter' : '']" id="m2" :min="sectionTops[1]"
                   :max="sectionBottoms[1]" :value="scrollPos"></meter>
            <meter :class="[currentTitle === 3 ? 'activeMeter' : '']" id="m3" :min="sectionTops[2]"
                   :max="sectionBottoms[2]" :value="scrollPos"></meter>
            <meter :class="[currentTitle === 4 ? 'activeMeter' : '']" id="m4" :min="sectionTops[3]"
                   :max="sectionBottoms[3]" :value="scrollPos"></meter>
            <meter :class="[currentTitle === 5 ? 'activeMeter' : '']" id="m5" :min="sectionTops[4]"
                   :max="sectionBottoms[4]" :value="scrollPos"></meter>
            <meter :class="[currentTitle === 4 ? 'activeMeter' : '']" id="m6" :min="sectionTops[5]"
                   :max="sectionBottoms[5]" :value="scrollPos"></meter>
            <div id="banner-dummy"></div>
        </div>
        <!--    Container for text content split into sections    -->
        <div class="journey" id="main-journey" @scroll.passive="scrollFunc">
            <!--    Section Text Containers   -->
            <div class="section-container" id="sc1">
                <div class="placeholder" id="ph1">
                    <hr>
                    <h2 class="text section-head" id="s1">
                        {{sectionTitleLong[0]}}
                    </h2>
                    <hr>
                </div>
                <div class="text section-body odd" id="p1">
                    The majority of classic electromagnetism is governed by the four Maxwell's equations.
                    These are empirical equations based on evidence, and were not derived from other equations or principles.
                    In their differential form, Maxwell's equations describe the rates of change of an electromagnetic field.
                    $$ \nabla \cdot \mathbf{E} = \frac{\rho}{\epsilon_{0}}$$
                    $$ \nabla \cdot \mathbf{B} =  0$$
                    $$ \nabla \times \mathbf{E} = -\frac{d\mathbf{B}}{dt}$$
                    $$ \nabla \times \mathbf{B} = \mu_{0} \mathbf{J} + \mu_{0} \epsilon_{0}\frac{d\mathbf{E}}{dt}$$
                    Where $\mathbf{E}$ is an electric field, $\mathbf{B}$ is a magnetic field. When all time varying terms go to 0, we are left with the static version of Maxwell's equations.
                    $$ \nabla \cdot \mathbf{E} = \frac{\rho}{\epsilon_{0}}$$
                    $$ \nabla \cdot \mathbf{B} =  0$$
                    $$ \nabla \times \mathbf{E} = 0$$
                    $$ \nabla \times \mathbf{B} = \mu_{0} \mathbf{J}$$

                    Of these, Gauss's law for electrostatics, Gauss's law for magnetism, and Ampere's circulation law are the most crucial.
                    Together they describe how sources of charge and current form electric and magnetic fields.
                    
                </div>
            </div>

            <div class="section-container" id="sc2">
                <div class="placeholder" id="ph2">
                    <hr>
                    <h2 class="text section-head" id="s2">
                        {{sectionTitleLong[1]}}
                    </h2>
                    <hr>
                </div>
                <div class="text section-body odd" id="p2">
                    <!--    Sub-Section Tabs    -->
                    <ul class="nav nav-tabs nav-justified">
                        <li :class="[subSection[1] === 1 ? 'shaded' : '', 'active', 'tabLeft']">
                            <a data-toggle="tab" href="#gaussElecDifferential" @click="subScrollTo(2); subSection[1]=1; loadSubScripts(); $forceUpdate();">Differential</a>
                        </li>
                        <li :class="[subSection[1] === 2 ? 'shaded' : '', 'tabRight']">
                            <a data-toggle="tab" href="#gaussElecIntegral" @click="subScrollTo(2); subSection[1]=2; loadSubScripts(); $forceUpdate();">Integral</a>
                        </li>
                    </ul>
                    <!--    Sub-Section Text Containers    -->
                    <div class="tab-content">
                        <div id="gaussElecDifferential" class="tab-pane fade in active show">
                            Maxwell's first law states that:
                            $$ \nabla \cdot \mathbf{B} = \frac{\rho}{\epsilon_0}$$
                            Where $\nabla$ is the divergence operator. This law implies that electric charges exhibit divergence
                            that is proportional to E-field density. But what does this actually mean?
                            <br>
                            A field is divergent if the field is varies along the path of the field lines. So, if one was to take an 'infinitesimal step' along a
                            field line, then the field strength would change. In terms of electrostatics this means that electric charges are the
                            sources of electric fields.
                            <br>
                            The visualisation on the right considers an infinitesimally small section of a charge density the causes
                            field lines to diverge.
                        </div>
                        <div id="gaussElecIntegral" class="tab-pane fade">
                            Gauss's law for electrostatics can be expressed as:
                            $$ \nabla \cdot \mathbf{E} = \frac{\rho}{\epsilon_{0}}$$
                            Where $\displaystyle \nabla $ is the divergence operator. A simple way to visualise this law is through electric field lines.
                            Geometrically, the divergence of a field is represented by the net number of field lines moving in or out of a volume element.
                            So Gauss's law states that the number of field lines moving in or out of a volume element is proportional to the charge density inside the element.
                            <br>
                            We can see this is true if electric charges act as a source or sink of field lines, as shown in the visualisation to the right.
                            <br><br>
                            Consider a sphere of radius $R$ and non-uniform density $\displaystyle \rho $, defined by:
                            $$ \rho = r^3 e^{-cos\theta}.$$
                            What is the Electric field of the sphere in the radial direction?
                            <br><br>
                            Solution:
                            <br>
                            We want $E_r$ (Electric field in radial direction) as a function of $r$, $\theta$, and $\phi$:
                            <ol>
                                <li>
                                    Use Gauss Law in integral form:
                                    $$\int \int E \cdot dS = \frac{1}{\epsilon_0} \int \int \int \rho dV $$
                                </li>
                                <li>
                                    For the RHS use $\displaystyle dQ=\rho dV$ and hence:
                                    $$ Q= \int\rho dv = \int r^3 e^{cos\theta} dV $$
                                    where $\displaystyle dV=r^2 sin\theta d\theta dr d\phi$ in spherical polar coordinates.
                                </li>
                                <li>Compute the integral</li>
                                <li>
                                    We now deal with the LHS. Since we only want the E-field in the radial direction we only
                                    need to consider the dot product of $\displaystyle E_r$ with $\displaystyle dS$. Recall from
                                    vector calculus (insert hyperlink?) that for spherical polar co-ordinates, in the $\displaystyle
                                    \tilda{r}$ direction, $\displaystyle dS$ is given by:
                                    $$ dS= r^2 sin \theta d\theta d\phi \tilda{r}$$
                                </li>
                                <li>Compute the integral of $\displaystyle E \cdot dS$</li>
                                <li>
                                    Divide by $\displaystyle 4 \pi r^2$ and in the wise words of VJT, VOILA! We obtain
                                    $$ E=\frac{k R^6}{6 \epsilon_0 r^2} sinh(1) $$
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section-container" id="sc3">
                <div class="placeholder" id="ph3">
                    <hr>
                    <h2 class="text section-head" id="s3">
                        {{sectionTitleLong[2]}}
                    </h2>
                    <hr>
                </div>
                <div class="text section-body odd" id="p3">
                    <!--    Sub-Section Tabs    -->
                    <ul class="nav nav-tabs nav-justified">
                        <li :class="[subSection[2] === 1 ? 'shaded' : '', 'active', 'tabLeft']">
                            <a data-toggle="tab" href="#gaussMagDifferential" @click="subScrollTo(3); subSection[2]=1; loadSubScripts(); $forceUpdate();">Differential</a>
                        </li>
                        <li :class="[subSection[2] === 2 ? 'shaded' : '', 'tabRight']">
                            <a data-toggle="tab" href="#gaussMagIntegral" @click="subScrollTo(3); subSection[2]=2; loadSubScripts(); $forceUpdate();">Integral</a>
                        </li>
                    </ul>
                    <!--    Sub-Section Text Containers    -->
                    <div class="tab-content">
                        <div id="gaussMagDifferential" class="tab-pane fade in active show">
                            Gauss's law for magnetism (differential form) can be expressed as :
                            $$ \nabla \cdot \mathbf{B} = 0$$
                            Where $\nabla$ is the divergence operator.
                        </div>
                        <div id="gaussMagIntegral" class="tab-pane fade">
                            Gauss's law for magnetism (integral form) can be expressed as :
                            <br><br>
                            <center>$\unicode{x222F}_S \mathbf {B} \cdot \mathrm {d} \mathbf {S} = 0$</center>
                            <br>
                            where $S$ is any closed surface.
                            <br><br>
                            Geometrically, $\mathbf {B} \cdot \mathrm {d} \mathbf {S}$ represents the net flux of $\mathbf {B}$ through $\mathrm {d} \mathbf {S}$. This law states that the net flux of any magnetic field through an arbitrary closed surface is always zero.
                            <br><br>
                            In this visualisation, we have a 2D representation of the law. The number in the loop is the scaled net flux through the loop.
                        </div>
                    </div>
                </div>
            </div>

            <div class="section-container" id="sc4">
                <div class="placeholder" id="ph4">
                    <hr>
                    <h2 class="text section-head" id="s4">
                        {{sectionTitleLong[3]}}
                    </h2>
                    <hr>
                </div>
                <div class="text section-body odd" id="p4">
                    <!--    Sub-Section Tabs    -->
                    <ul class="nav nav-tabs nav-justified">
                        <li :class="[subSection[3] === 1 ? 'shaded' : '', 'active', 'tabLeft']">
                            <a data-toggle="tab" href="#ampereMagDifferential" @click="subScrollTo(4); subSection[3]=1; loadSubScripts(); $forceUpdate();">Differential</a>
                        </li>
                        <li :class="[subSection[3] === 2 ? 'shaded' : '', 'tabRight']">
                            <a data-toggle="tab" href="#ampereMagIntegral" @click="subScrollTo(4); subSection[3]=2; loadSubScripts(); $forceUpdate();">Integral</a>
                        </li>
                    </ul>
                    <!--    Sub-Section Text Containers    -->
                    <div class="tab-content">
                        <div id="ampereMagDifferential" class="tab-pane fade in active show">
                            The differential form of Ampere's law is:
                            $$ \nabla \times \mathbf{B} = \mu_0 \mathbf{J}$$
                            Consider a section of a plane that contains a uniform magnetic field. The introduction of a current $\mathbf{J}$
                            that passes through every point in this section of the plane changes the field around it such that
                            the maginitude of the magnetic field only changes if you move in a direction that is perpendicular to the field.
                            This is the definition of curl. The introduction of the current density has induced a curl in the magnetic
                            field.
                        </div>
                        <div id="ampereMagIntegral" class="tab-pane fade">
                            <button @click='onClick()' id="buttonExamples">Examples</button>
                            <div class='scroll-down'>
                                <select class="form-control" id="circuitSelectList2" style='display: none' @change='onChange()'>
                                    <option value="1">
                                        Single Wire
                                    </option>
                                    <option value="2">
                                        Solenoid
                                    </option>
                                    <option value="3">
                                        Toroid
                                    </option>
                                </select>
                            </div>
                            <br>
                            <div id='ampereMagIntegral_1'>
                                The integral form of Ampere's law is:
                                $$ \oint \mathbf{B.dl} = \mu_0 I$$
                                Ampere's law states that when a loop is placed around a current carrying wire, the integral of the magnetic field
                                around the loop is equal to $\mu_{0}$ multiplied by the current enclosed. If you add a loop in the visualisation
                                on the right then you can see, by clicking and dragging wires into and out of the loop, that this is true.
                                <br><br>
                                When there are wires near to, but outside of a loop, there is flux into and out of the loop, however the average
                                flux is zero, so the total integral is also zero. You can see how the magnetic flux varies around the loop
                                in the plot shown.
                                <br><br>
                                The reason for this can be seen by placing a wire just outside a circular loop; in this
                                scenario dl is in the same direction as the field for one part of the loop, and opposite to the field for the
                                other part. This means the resulting net contribution is zero.
                            </div>
                            <div id="CurrentLine" style='display: none'>
                                    <h5> Current Wire: </h5>
                                    <p> Consider an infinitely long current-carrying wire. Recall the integral form of static Ampere's
                                        law</p>
                                    $$\oint \textbf{B} \cdot \textbf{dl} = \mu_0 I_{enclosed},$$
                                    <p>and construct a circular Amperian loop (Amp loop). The loop encloses the wire. The magnetic field
                                        generated by the wire is circular
                                        with a constant magnitude at a given distance $r$. Hence,</p>
                                    $$ \displaystyle \textbf{B} \cdot \textbf{dl} = |\textbf{B}||\textbf{dl}|\cos(\theta)= B dl $$
                                    <p> as the magnetic field aligns with the loop. The integral can be performed and equation for the
                                        magnetic field strength $B$ can be derived.</p>
                                    $$ \int B dl = 2\pi r B= \mu_0 I_{enclosed}. $$
                                    <p> Hence,</p>
                                    $$ B = \frac{\mu_0 I_{enclosed}}{2 \pi r}. $$
                                    <p><img src="RHrule.jpg" style="width:50%;height:20%;margin-right:5%;margin-bottom:5%;">
                                        The direction in which the magnetic field rotates can be confirmed by using the Ampère's right-hand
                                        grip rule. Note that the magnetic field strength falls off with distance from the wire. You can confirm
                                        this using the
                                        visualisation on the Right.
                        
                                    </p>
                        
                                </div>
                                <div id="solenoid" style='display: none'>
                                    <h5> Solenoid: </h5>
                                    <p> A solenoid can be approximated as a series of circular loops of current with fixed separation. In
                                        this model, the solenoid is aligned
                                        such that we can consider the current flowing into and out of the screen. Now consider a rectangular
                                        Amperian loop (Amp loop). The Amp loop
                                        can be split into four straight lines. This allows the closed integral of static Ampere's law into
                                        four integral representing the four straight lines.</p>
                                    <img src="Solenoid.jpg" style="width:50%;height:20%;margin-right:5%;margin-bottom:5%;"  >
                                    <p>The diagram shows this Amp loop. The length and the alignment of the sides are chosen to simplify the
                                        integral: Side $2$ and $4$ align perpendicularly to the direction of the
                                        magnetic field, hence $\textbf{B} \cdot \textbf{dl} =0 $. Side $3$ is positioned at $r=\infty$,
                                        hence $|\textbf{B}|=0$.</p>
                                    $\displaystyle \oint \textbf{B} \cdot \textbf{dl} = \int_{a}^{b} \textbf{B} \cdot \textbf{dl} +
                                    \int_{b}^{c} \underbrace{\textbf{B} \cdot \textbf{dl}}_\text{=0} + \int_{c}^{d}
                                    \underbrace{\textbf{B}}_\text{=0} \cdot \textbf{dl} + \int_{d}^{a} \underbrace{\textbf{B} \cdot
                                    \textbf{dl}}_\text{=0}.$
                                    <p> Hence, </p>
                                    $\displaystyle \int_{a}^{b} \textbf{B} \cdot \textbf{dl} = BL=\mu_0 I_{enclosed}=\mu_0 N I,$
                                    <p> where $L=b-a$, $N$ is the number of current loops enclosed in the loop, and $I$ is the current
                                        through each current loop. Rearranging gives the equation for the magnetic field strength within
                                        the solenoid. </p>
                                    $$ B = \frac{\mu_0 N I}{L}=\mu_0 n I, $$
                                    <p> where $n$ is the number density of the current loops, meaning the number of current loops in a unit
                                        length of the solenoid. Note that the magnetic field strength is constant within
                                        the solenoid. You can confirm this by using the visualisation on the right. Keep in mind that the
                                        side outside the solenoid does not go off to infinity, however you can see how quickly the
                                        magnetic field falls off with distance. The arrow moving around the Amp loop in the visualisation
                                        represent the resultant magnetic field's magnitude and direction, $\textbf{B}$, NOT $\textbf{B}
                                        \cdot \textbf{dl}$. </p>
                                </div>
                                <div id="Toroid" style='display: none'>
                                    <h5> Toroid : </h5>
                                    <p>A toroid is simply a solenoid formed into a loop ( a loop of loops!). To calculate the magnetic field
                                        strength generated, a circular Amperian loop (Amp loop) is used to evaluated
                                        the three regions of the toroid.</p>
                                    <p> At the centre and outside of the toroid, the net current enclosed is zero, therefore based on static Ampere's law,
                                        $|\textbf{B}|$ the magnetic field strength is zero. Within the toroid,</p>
                                    $\displaystyle \oint \textbf{B} \cdot \textbf{dl} = \oint Bdl = 2\pi rB = \mu_0 I_{enclosed},$
                                    <p> as the magnetic field within the toroid aligns with the Amp loop. Hence,</p>
                                    $\displaystyle B = \frac{\mu_0 I_{enclosed}}{2\pi r} = \frac{\mu_0 N I}{2\pi r} = \frac{\mu_0 (nL)
                                    I}{2\pi r},$
                                    <p> where $n(=N/L)$ is the number density of the current loops, $L$ is the circumference of the toroid,
                                        and $N$ is the number of current loops enclosed in the Amp loop. In the
                                        approximation that the radius of each current loop in the toroid is negligible compared to the
                                        radius of the Amp loop, we can assume </p>
                                    $\displaystyle L \approx 2 \pi r.$
                                    <p> Hence,</p>
                                    $\displaystyle B = \mu_0 n I$
                                    <p> which is the same equation that was derived for the solenoid. You can confirm this by using the
                                        visualisation on the right. Keep in mind that the visualisation calculates the net
                                        magnetic field generated at the point the arrow is. Hence there is a small variation from the theory
                                        when that approximation is not applied ( ie. the radius of the current loops is comparable to
                                        the radius of the Amp loop. Also note the change in the direction of the magnetic field when the Amp
                                        loop is slightly out of region B. You can confirm the direction using the Ampère's right-hand grip
                                        rule. </p>
                                </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section-container" id="sc5">
                <div class="placeholder" id="ph5">
                    <hr>
                    <h2 class="text section-head" id="s5">
                        {{sectionTitleLong[4]}}
                    </h2>
                    <hr>
                </div>
                <div class="text section-body odd" id="p5">
                    <!--    Sub-Section Tabs    -->
                    <ul class="nav nav-tabs nav-justified">
                        <li :class="[subSection[4] === 1 ? 'shaded' : '', 'active', 'tabLeft']">
                            <a data-toggle="tab" href="#ampereElecDifferential" @click="subScrollTo(5); subSection[4]=1; loadSubScripts(); $forceUpdate();">Differential</a>
                        </li>
                        <li :class="[subSection[4] === 2 ? 'shaded' : '', 'tabRight']">
                            <a data-toggle="tab" href="#ampereElecIntegral" @click="subScrollTo(5); subSection[4]=2; loadSubScripts(); $forceUpdate();">Integral</a>
                        </li>
                    </ul>
                    <!--    Sub-Section Text Containers    -->
                    <div class="tab-content">
                            <div id="ampereElecDifferential" class="tab-pane fade in active show">
                                $$ \nabla \times \mathbf{E} = 0$$
                                The curl of $\mathbf{E}$ is 0 because it is a conservative field. A conservative field can be described by a potential such that
                                $\mathbf{E} = \nabla \phi$. The curl of the gradient of a scalar field ($\nabla \times \nabla \phi$) is 0. Hence, the curl of $\mathbf{E}$ is 0.      
                            </div>
                            <div id="ampereElecIntegral" class="tab-pane fade">
                                The electrostatic equation demonstrated in this visualisation is:
                                $$\oint \mathbf {E} \cdot \mathrm {d} {\boldsymbol {l}} = 0$$
                                As you can see from the visualisation on the right the net flux through a loop in an electric field is always zero,
                                regardless of the positions of charges or even if there is some background field: as long as the background
                                field has no curl!
                                <br><br>
                                Another way of thinking about this equation is by using Stokes' Law which states:<br><br>
                                <center>$\displaystyle \oint_{l} \mathbf{A.dl} =$ $\displaystyle \iint_{S} \nabla \times \mathbf {A} \cdot d\mathbf{S}$</center>
                                <br>
                                From this it is clear that the first equation, and the fact that electric fields have no curl are identical.
                                This also implies that electric fields are conservative, since the loop integral is always zero, and the field
                                has no curl.
                            </div>
                        </div>
                </div>
            </div>
            
            <div class="section-container" id="sc6">
                <div class="placeholder" id="ph6">
                    <hr>
                    <h2 class="text section-head" id="s6">
                        {{sectionTitleLong[5]}}
                    </h2>
                    <hr>
                </div>
                <div class="text section-body odd" id="p6">
                    <!--    Sub-Section Tabs    -->
                    <ul class="nav nav-tabs nav-justified">
                        <li :class="[subSection[5] === 1 ? 'shaded' : '', 'active', 'tabLeft']">
                            <a data-toggle="tab" href="#elecPotential" @click="subScrollTo(6); subSection[5]=1; loadSubScripts(); $forceUpdate();">Differential</a>
                        </li>
                        <li :class="[subSection[5] === 2 ? 'shaded' : '', 'tabRight']">
                            <a data-toggle="tab" href="#elecField" @click="subScrollTo(6); subSection[5]=2; loadSubScripts(); $forceUpdate();">Integral</a>
                        </li>
                    </ul>
                    <!--    Sub-Section Text Containers    -->
                    <div class="tab-content">
                            <div id="elecPotential" class="tab-pane fade in active show">
                                <center><h4>Gradient of an electric potential</h4></center>
                                Consider a particle with charge $Q$ positioned at the origin.  The graph on the right 
                                shows the potential field $V(x,y)$ around the particle (when only considering a 2D 
                                slice of space passing through the centre of the charge).  
                                <br><br>
                                Beneath it the electric field is shown, which is the negative of the gradient of the 
                                electric potential.
                            </div>
                            <div id="elecField" class="tab-pane fade">
                                <center><h5>$$ V_B - V_A = - \int _A ^B \mathbf{E} \cdot \mathbf{ dl }$$</h5></center>
                                In electrostatics, all electric fields are conservative. This means that we can find out the potential difference between any two points (A and B) by performing a line integral:
                                $$\displaystyle 
                                    \begin{align}
                                        \Delta V_{AB} = V_B - V_A = \frac{\Delta U_{AB} }{q} 
                                        \\ &  = -\frac{1}{q} \int _A ^B \mathbf{F} \cdot \mathbf{ dl }
                                        \\ &  =  - \int _A ^B \mathbf{E} \cdot \mathbf{ dl } 
                                    \end{align}$$
                                <br>
                                Visualisation Guide
                                <br><br>
                                <ol>
                                    <li>On the right, you can see a electric field and the electric potential associated with this field.
                                        Change the value of the charge, $q$, and observe the change in $\mathbf{E}$ and $V$.</li>
                                    <li>As the magnitude of $q$ increases, the length of the arrows in $\mathbf{E}$ increases and the contour of the electric potential
                                        $V$ becomes steeper as well. Since $\mathbf{E} = - \nabla V$, the gradient vector of $V$ is its electric field vector,
                                        which points in the direction of steepest decrease of $V$.</li>
                                    <li>The line integral along the electric field,
                                        $\int \mathbf{E} \cdot \mathbf{ dl }$ is path independent. Move the path of the ball from Point A to Point B
                                        along 2 different paths, Path 1 and Path 2.</li>
                                    <li>Observe their electric potential values. Note that along the path, the value of $V$ may be different.
                                        However, when the balls reach Point B, they have the same electric potential.</li>
                                    <li>This shows that static electric fields are conservative, hence $\mathbf{E}$ is only dependent on its position.</li>
                                    <li>There are a few other electric fields for you to play around with. Click the dropdown menu to find out.</li>
                                </ol>
                            </div>

                    </div>
                </div>
            </div>


        </div>
    </div>
    <!--    Right Side of Window - containing mainly interactive and visual content    -->
    <div class="vis-container right" id="right-container">
        <!--    Title Banner above Right Side    -->
        <div class="banner">
            <!--    Visualisation Title    -->
            <h1 class="" id="vis-title">
                STATIC ELECTROMAGNETISM
            </h1>
            <a href="https://www.imperialvisualisations.com/learn/">
                <img id="vis-logo" src="VisualisationsLogoWhite2.png">
            </a>
        </div>
        <!--    Space into which visualisations are loaded    -->
        <div id="rightloadSpace">
        <!--    fade transition tag for RHS - applied by Vue and CSS    -->
        <transition-group name="fade" tag="div" class="transition-container">
            <!--    Interactive Zone Containers   -->
            <div class="rightload" id="loadwait" key="loadwait" v-if="true">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            </div>
            <div class="rightload text odd" id='loadout1' key="loadout1" v-if="currentSection === 1">
                <iframe src="EM/1Introduction_Interactive.html" width="950px" height="800px"></iframe>
            </div>
            <div class="rightload text even" id='loadout2' key="loadout2" v-if="currentSection === 2">
                <transition name="fade">
                    <!--Interactive Zone Sub Containers-->
                    <div class="rightload text" id='loadout2sub1' key="loadout2sub1"
                         v-if="subSection[1] === 1">

                        <iframe src="EM/2Gauss_Law_Electric_Interactive.html" width="950px" height="800px"></iframe>

                        <!--Buttons/Sliders-->
                        <!--        <div class="one-third column" style="padding-left: 50px;">-->

                        <!--Main body contents-->


                    </div>
                    <div class="rightload text" id='loadout2sub2' key="loadout2sub2" v-else>
                        <iframe src="EM/2Gauss_Law_Elec_Inte_interactive.html" width="950px" height="800px"></iframe>
                    </div>
                </transition>
            </div>
            <div class="rightload text odd" id='loadout3' key="loadout3" v-if="currentSection === 3">

                <transition name="fade">
                    <!--Interactive Zone Sub Containers-->
                    <div class="rightload text" id='loadout3sub1' key="loadout3sub1"
                         v-if="subSection[2] === 1">
                        <!-- Graph -->

                        <iframe src="EM/3Gauss_Law_Magnetic_Interactive.html" width="950px" height="800px"></iframe>
                    </div>
                    <div class="rightload text" id='loadout3sub2' key="loadout3sub2" v-else>
                        <iframe src="EM/3Gauss_Law_Mag_Inte_interactive.html" width="950px" height="800px"></iframe>
                    </div>
                </transition>
            </div>
            <div class="rightload text even" id='loadout4' key="loadout4" v-if="currentSection === 4">
                <transition name="fade">
                    <!--Interactive Zone Sub Containers-->
                    <div class="rightload text" id='loadout4sub1' key="loadout4sub1"
                         v-if="subSection[3] === 1">

                    </div>
                    <div class="rightload text" id='loadout4sub2' key="loadout4sub2" v-else>
                        <iframe src="VC/3bCurl_interactive.html" height="800px" width="950px"></iframe>
                        <!--<div class="three columns" id="buttons-holder"
                             style="position:inherit; margin-left: 1vw; margin-top: 5vh;">

                            <div id="settings">

                                <p style="margin-top:-2vh;" id="desc">Loop type:</p>
                                <div id="circuit-modifiers" style="margin-left: 6vw; margin-top: -2vw;">
                                    <select class="form-control" id="circuitSelectList" style="margin-top: -3vh">
                                        <option value="0">
                                            circle
                                        </option>
                                        <option value="1">
                                            arc 1
                                        </option>
                                        <option value="2">
                                            arc 2
                                        </option>
                                        <option value="3">
                                            rectangle 1
                                        </option>
                                        <option value="4">
                                            square
                                        </option>

                                    </select>

                                </div>
                                <button id="buttonPlay">Play</button>
                                <button id="buttonReset">
                                    Reset
                                </button>
                                <div id="Current-modifiers">

                                    <button id="buttonAddWire">
                                        Add Curl Source
                                    </button>
                                    <br>
                                    <button id="buttonRemoveWires">
                                        Remove Curl Sources
                                    </button>
                                    <button id="buttonLoopToggle" style="display:none;">
                                        Remove Loop
                                    </button>
                                    <button id="buttonFieldFlow" style="display:none;">
                                        Field Flow
                                    </button>
                                    &lt;!&ndash;<br>
                                     <p>
                                      Wires Selected:
                                      <b>
                                       <span id="wireSelected" style="color:blue;">1</span>
                                      </b>
                                     </p>&ndash;&gt;
                                    <label class="sliderTitle" for="currentSlider" id="tagCurrentSlider"
                                           style="margin-bottom:0.1vh">
                                        Amount of Curl:
                                        <b>
                                            <span data-unit="Amps" id="currentDynamicDisplay">5</span>
                                        </b>
                                    </label>
                                    <label class="slider">
                                        <input id="currentSlider" max="10" min="-10" name="currentSlider" step="1"
                                               type="range" value="5">
                                    </label>
                                </div>

                                <div id="diameter-modifiers">
                                    <label class="sliderTitle" style="margin-bottom:0.1vh">
                                        Diameter of loop:
                                    </label>
                                    <label class="slider">
                                        <input id="diameterSlider" max="290" min="20" step="20" type="range">
                                    </label>
                                </div>
                            </div>
                        </div>


                        <div class="eight columns" id="graphics-holder" style="position:relative; right:5vw">
                            <div id="sketch-holder-2"
                                 style="position: relative; top: -36vh; right: -2vw; width: 55vw; height: 60vh; cursor: default;">
                                <canvas id="defaultCanvas0" class="p5Canvas" width="1524" height="521"
                                        style="width: 762.047px; height: 260.5px; z-index:2"></canvas>
                            </div>
                            <div id="graph-holder"
                                 style="position:relative; left: -2vw; top:-8vh; width:125%; height:50vh; "
                                 class="js-plotly-plot">
                                <div class="plot-container plotly">
                                    <div class="svg-container"
                                         style="position: relative; width:550.359px; height:2vh; z-index: -2;">
                                        <svg class="main-svg" xmlns="http://www.w3.org/2000/svg"
                                             xmlns:xlink="http://www.w3.org/1999/xlink" width="550.359"
                                             height="192.766" style="background: rgb(255, 255, 255);"></svg>


                                        <div class="modebar-container"
                                             style="position: absolute; top: 0px; right: 0px; width: 100%;"></div>
                                        <svg class="main-svg" xmlns="http://www.w3.org/2000/svg"
                                             xmlns:xlink="http://www.w3.org/1999/xlink" width="550.359"
                                             height="192.766">
                                            <g class="hoverlayer"></g>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div id="B-dl-text-holder"
                                 style="position:absolute; right:47vw; top:65vh; width:25%; height:30vh">
                                <p style="font-size: large;">
                                    $\displaystyle\oint\mathbf{A.dl}=$
                                    <span id="Bdl-text">5.0*μ<sub>0<sub></sub></sub></span>
                                </p>
                                <p>
                                    We are using a Riemann sum to integrate, so the number of steps is referring to
                                    the number of steps used in the numerical integration.
                            </div>
                            </div>
                            -->

                    </div>
                </transition>
            </div>

            <div class="rightload text even" id='loadout5' key="loadout5" v-if="currentSection === 5">
                <transition name="fade">
                    <!--Interactive Zone Sub Containers-->
                    <div class="rightload text" id='loadout5sub1' key="loadout5sub1"
                         v-if="subSection[4] === 1">
                        <!--iframe for ampere-->
                    </div>
                    <div class="rightload text" id='loadout5sub2' key="loadout5sub2" v-else-if="subSection[4] === 2">
                        <!--iframe for ampere-->
                    </div>
                    <div class="rightload text" id='loadout5sub3' key="loadout5sub3" v-else>
                        <iframe src="EM/6AmpLaw_Interactive.html" width="950px" height="800px"></iframe>
                    </div>
                </transition>
            </div>

            <div class="rightload text even" id='loadout6' key="loadout6" v-if="currentSection === 6">
                <transition name="fade">
                    <!--Interactive Zone Sub Containers-->
                    <div class="rightload text" id='loadout6sub1' key="loadout6sub1"
                         v-if="subSection[5] === 1">
                        <iframe src="EM/7Electric_Field_Interactive.html" width="950px" height="800px"></iframe>
                    </div>
                    <div class="rightload text" id='loadout6sub2' key="loadout6sub2" v-else>
                        <iframe src="EM/7Electric_Potential_Interactive.html" width="950px" height="800px"></iframe>
                    </div>
                </transition>
            </div>


        </transition-group>
    </div>
    </div>
    <div class="rightScriptSpace scriptSpace"></div>
    <div class="rightSubScriptSpace scriptSpace"></div>
</div>
</body>

<script src="scripts/nav_Script.js"></script>
<script src="scripts/VC-scripts/classes.js"></script>
<script src="scripts/VC-scripts/VC_object.js"></script>

</html>