.transition-container {
    width: 100%;
    height: 100%;
    position: relative;
    background: #ffffff;
    overflow-y: hidden;
    overflow-x: hidden;
}

.rightload {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
}

/* SECTION 1 */

#loadout1 {
}

#loadout1 .imgContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40vw;
    height: 70vh;
    position: absolute;
    right: 3vw;
    top: 5vh;
}

#loadout1 .imgContainer img {
    width: 100%;
    max-height: 100%;
}

#loadout1 .quote {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40vw;
    height: 80vh;
    position: absolute;
    left: 3vw;
    top: 3vh;
    font-size: calc(10px + 1.6vw);
}

#loadout1 .nav-tabs {
    display: flex;
    width: 90vw;
    height: 8vh;
    position: absolute;
    left: 5vw;
    top: 5vh;
    margin: 0;
}

#loadout1 .nav-tabs > li {
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    flex-grow: 1;
    border-radius: 0.5vh 0.5vh 0 0;
    text-align: center;
    background: #ffffff;
    align-items: stretch;
    z-index: 1;
    font-weight: bolder;
}

#loadout1 .nav-tabs > li.tabLeft {
    margin: 0 1.5% 0 0;
}

#loadout1 .nav-tabs > li.tabRight {
    margin: 0 0 0 1.5%;
}

#loadout1 .nav-tabs > li:hover {
    background: #eaf2ff;
    box-shadow: 2px 2px 2px #a8a8a8;
}

#loadout1 .nav-tabs > li.shaded {
    background: #eaf2ff;
    box-shadow: 2px 2px 2px #a8a8a8;
}

#loadout1 .nav-tabs > li > a {
    padding: 1.5vh 0 2.5vh 0;
    border-radius: inherit;
    font-size: calc(8px + 1.4vw);
    z-index: 1;
    text-decoration: none;
    color: #033482;
}

#loadout1 .tab-content {
    width: 90vw;
    height: 80vh;
    position: absolute;
    left: 5vw;
    top: 12vh;
    color: #000000;
    background-color: #eaf2ff;
    padding: 2vh 2vw;
    /*box-shadow: 3px 4px 3px #a8a8a8;*/
    z-index: 2;
    /*border-radius: 8px 8px 8px 8px;*/
    border-radius: 0.5vh 0.5vh 0.5vh 0.5vh;
    /*border: 1px solid grey;*/
    box-shadow: 2px 2px 2px #a8a8a8;
    font-size: calc(6px + 1.2vw);
    text-align: justify;
}

#loadout1 .tab-content > .tab-pane:not(.active),
#loadout1 .pill-content > .pill-pane:not(.active) {
    display: block;
    overflow: hidden;
    visibility: hidden;
    height: 0;
}

#loadout1 .tab-content > .tab-pane.active,
#loadout1 .pill-content > .pill-pane.active {
    display: block;
    visibility: visible;
}

#loadout1 #endMargin {
    width: 1px;
    height: 1px;
    position: absolute;
    bottom: -3.5vh;
}

/* SECTION 2 */

#loadout2sub1 {
}

#loadout2sub1 .graphTitle {
    width: 95vw;
    height: 7.5vh;
    position: absolute;
    top: 5vh;
    left: 2.5vw;
    text-align: center;
    font-size: calc(16px + 1.6vh);
}

#loadout2sub1 #graph-holder {
    width: 95vw;
    height: 75vh;
    position: absolute;
    left: 2.5vw;
    top: 10vh;
}

#loadout2sub1 .overall-sliders-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 4vh;
    left: 2.5vw;
    width: 95vw;
    height: 10vh;
}

#loadout2sub1 .partial-sliders-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
}

#loadout2sub1 .slider-label {
    font-size: calc(10px + 0.8vw);
    flex-basis: auto;
    flex-grow: 0.3;
    flex-shrink: 1;
    margin: 0;
    padding: 0;
    text-align: center;
}

#loadout2sub1 .slider {
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex: 1 0 auto;
}

#loadout2sub1 .sliderMin, #loadout2sub1 .sliderMax {
    margin-top: 30px;
    width: 40px;
    flex: 0 0 40px;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
}

#loadout2sub1 .inputs {
    height: 40px;
    flex: 1 1 auto;
}

#loadout2sub2 {
}

#loadout2sub2 #sketch-holder {
    width: 100vw;
    height: 100vh;
}

#loadout2sub2 #sketch-holder .p5Canvas {
    background: #ffffff;
}

#loadout2sub2 .innerBanner {
    width: 100vw;
    height: 12.5vh;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    padding-left: 10vw;
}

#loadout2sub2 .infoDisplay {
    margin: 0;
    padding: 0;
    text-align: center;
    flex: 0.2 1 auto;
}

#loadout2sub2 .overall-sliders-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 1.1vh;
    left: 2.3vw;
    width: 60vw;
    height: 20vh;
}

#loadout2sub2 .partial-sliders-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
}

#loadout2sub2 .slider-label {
    font-size: calc(12px + 1vw);
    flex-basis: auto;
    flex-grow: 0.3;
    flex-shrink: 1;
    margin: 0;
    padding: 0;
    text-align: center;
}

#loadout2sub2 .slider {
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex: 1 0 auto;
}

#loadout2sub2 .sliderMin, #loadout2sub2 .sliderMax {
    margin-top: 30px;
    width: 40px;
    flex: 0 0 40px;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
}

#loadout2sub2 .inputs {
    height: 40px;
    flex: 1 1 auto;
}

/* SECTION 3 */

#loadout3 {
}

#loadout3 #graph1Sec3 {
    width: 94%;
    height: 60%;
    position: absolute;
    left: 3%;
    top: 10%;
}

#loadout3 #scrollSec3 {
    width: 100%;
    height: 10%;
    position: absolute;
    top: 20px;
    display: table;
    margin: 0 auto;
}

#loadout3 .scroll_down {
    display: table;
    margin: 0 auto;
}

#loadout3 .overall-sliders-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 5%;
    bottom: 0;
    width: 45%;
    height: 25%;
}

#loadout3 .partial-sliders-container {
    display: flex;
    flex-direction: row;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
}

#loadout3 .slider-label {
    font-size: 14pt;
    text-align: left;
    padding-left: 8px;
    margin: 0;
    padding-top: 0;
    flex-basis: 0;
    flex-grow: 0.5;
    flex-shrink: 1;
}

#loadout3 .slider {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
}

#loadout3 #equationSpace {
    position: absolute;
    right: 5%;
    bottom: 3%;
    width: 45%;
    height: 22%;
    font-size: calc(3px + 0.95vw);
}

#loadout3 .equationContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

#loadout3 img {
    height: 100%;
}

/* SECTION 4 */

#loadout4 {
}

#loadout4 #graph1Sec4 {
    width: 45%;
    height: 45%;
    position: absolute;
    left: 2.5%;
    top: 2.5%;
}

#loadout4 #graph2Sec4 {
    width: 45%;
    height: 45%;
    position: absolute;
    left: 2.5%;
    bottom: 2.5%;
}

#loadout4 .inputsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0;
    top: 50px;
    width: 50%;
    height: 90vh;
}

#loadout4 .selectorContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 0;
    flex-grow: 1;
    width: 100%;
}

#loadout4 .overall-sliders-container {
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    flex-grow: 4;
    width: 100%;
}

#loadout4 .partial-sliders-container {
    display: flex;
    flex-direction: row;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    align-items: center;
}

#loadout4 .slider-label {
    font-size: 14pt;
    text-align: left;
    padding-left: 8px;
    margin: 0;
    padding-top: 0;
    flex-basis: 0;
    flex-grow: 0.5;
    flex-shrink: 1;
    left:0;
}

#loadout4 .slider {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    right: 0;
}

/* SECTION 5 */

#loadout5 {
}

#loadout5 #graph1Sec5 {
    width: 45%;
    height: 45%;
    position: absolute;
    left: 2.5%;
    top: 2.5%;
}

#loadout5 #graph2Sec5 {
    width: 45%;
    height: 45%;
    position: absolute;
    left: 2.5%;
    bottom: 2.5%;
}

#loadout5 #graph3Sec5 {
    width: 45%;
    height: 45%;
    position: absolute;
    right: 2.5%;
    bottom: 2.5%;
}

#loadout5 #inputSec5 {
    flex-basis: 0;
    flex-grow: 1;
}

#loadout5 #coefficientSec5 {
    flex-basis: 0;
    flex-grow: 1;
}

#loadout5 .inputsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 5%;
    right: 2.5%;
    width: 45%;
    height: 40%;
}

#loadout5 * {
    flex-basis: 0;
    flex-grow: 1;
}

#loadout5 .partial-sliders-container {
    display: flex;
    flex-direction: row;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    align-items: center;
}

#loadout5 .slider-label {
    font-size: 14pt;
    text-align: left;
    padding-left: 8px;
    margin: 0;
    padding-top: 0;
    flex-basis: 0;
    flex-grow: 0.5;
    flex-shrink: 1;
    left: 0;
}

#loadout5 .slider {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    right:0;
}

#loadoutblank {
    text-align: center;
    line-height: 100vh;
    vertical-align: middle;
    font-size: 30pt;
}

